/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body, html {
    height: 100%;
}

/*Hero image */
.hero-body{
    background-image: url('https://raw.githubusercontent.com/krisztinatxt/sitebuild_loginet/main/media/MAINPAGE_8eMt9a.jpg');
	height: 70%;
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
	
}
.hero-container{
top: 50%;
 left: 50%;
 -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
 position: absolute;
}

/* Cards */

.card {
  height: 100%;
  
}

.card-footer{
    position: absolute;
    bottom:1rem;
    right:1rem;
}

/*Modal*/

.modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*Reusable color classes */

.orange{
    background: #e5692c;
    color:white;
    border: transparent;
}
.grey-bg{
    background: #F5F5F5;
}