/*Hero image */
.bg-image{
    background-image: url('media/MAINPAGE_8eMt9a.jpg');
	height: 70%;
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
}




/*Reusable color classes */

.orange{
    background: #e5692c;
    color:white;
}

.grey-bg{
    background: #F5F5F5;
}